body {
  background: black;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  display: block;
  margin: auto;
  width: 75%;
  border-radius: 3px;
  padding: 5px;
  font-size: 2vw;
  box-shadow: 2px 2px 2px black;
}

.logo {
  display: block;
  margin: auto;
  width: 25%;
  height: 25%;
}


.icon {
  display: block;
  width: 5%;
  height: 5%;
}

input {
  margin: 5px;
  font-size: 2.5vw;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Black Ops One', cursive;
  text-align: center;
  font-size: 5vw;
  padding: 5px;
}

h2 {
  color: white;
  font-family: 'Black Ops One', cursive;
  text-align: center;
  font-size: 3.5vw;
  margin: 20px;
}

h4 {
  text-align: center;
  font-size: 4vw;
}

p, li {
  font-size: 2.5vw;
  text-align: center;
  color: black;
}

label {
  font-size: 2vw;
  text-align: center;
  color: black;
}

.row {
  display: flex;
  margin-right: 10%;
  margin-left: 10%;
}

.namedisplay {
  background: #666666;
  display: block;
  margin: 10px auto 50px;
  padding: 20px;
  width: 50%;
  height: 25%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
}

.componentsrow {
  background: #666666;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 2px 2px 2px lightgrey;
  border-radius: 5px;
}

.componentdisplay {
  /*border-right: 1px solid black;*/
  padding: 10px;
  display: block;
  margin: 10px auto;
  width: 25%;
  height: 25%;
}

.banner{
  background: #666666;
  box-shadow: 2px 2px 2px lightgrey;
  display: flex;
  justify-content: center;
}

div.horizontal {
  display: flex;
  justify-content: center;
}

div.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}